table {
  width: 100%;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 17px;
  padding: 20px;
}

#trMain {
  background: #ccc;
}

#cal {
  display: flex;
  padding: 20px;
  width: 70%;
  justify-content: space-around;
  align-items: center;
}

p {
  padding: 5px;
}

form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#search,
#searchBut {
  margin: 10px;
}